PORT = ****
FRONTEND_URL = <"FRONTEND URL">
MONGO_URL = <URL_MONGODB>
JWT_SECRET = <SECRET JSONWEBTOKEN>
EMAIL_CLIENT = <EMAIL CLIENT>
PASSWORD_CLIENT = <PASSWORD CLIENT>
GOOGLE_CLIENT_ID = <GOOGLEID OAUTH>
GOOGLE_CLIENT_SECRET = <SECRET GOOGLEOAUTH>
GOOGLE_CALLBACK_URL = <URL CALLBACK>